/* Import this file in your ~/.config/gtk-4.0/gtk.css and ~/.config/gtk-3.0/gtk.css */

/* Accent Colors */
@define-color accent_color {{colors.primary.default.hex}};
@define-color accent_bg_color {{colors.primary.default.hex}};
@define-color accent_fg_color {{colors.on_primary.default.hex}};

/* Window Colors */
@define-color window_bg_color {{colors.surface.default.hex}};
@define-color window_fg_color {{colors.on_surface.default.hex}};

/* Views (e.g., inside file manager) */
@define-color view_bg_color {{colors.surface.default.hex}};
@define-color view_fg_color {{colors.on_surface.default.hex}};

/* Header Bars */
@define-color headerbar_bg_color {{colors.surface.default.hex}};
@define-color headerbar_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

/* Popovers & Cards */
@define-color card_bg_color {{colors.surface_container_lowest.default.hex}};
@define-color card_fg_color {{colors.on_surface.default.hex}};
@define-color popover_bg_color {{colors.surface_container_lowest.default.hex}};
@define-color popover_fg_color {{colors.on_surface.default.hex}};

/* Dialogs */
@define-color dialog_bg_color {{colors.surface_container_lowest.default.hex}};
@define-color dialog_fg_color {{colors.on_surface.default.hex}};

/* Destructive / Success */
@define-color destructive_color {{colors.error.default.hex}};
@define-color destructive_bg_color {{colors.error.default.hex}};
@define-color destructive_fg_color {{colors.on_error.default.hex}};
@define-color success_color {{colors.tertiary.default.hex}};
@define-color success_bg_color {{colors.tertiary.default.hex}};
@define-color success_fg_color {{colors.on_tertiary.default.hex}};
